<html>

<head>
    <meta charset="utf-8" />
    <title>OST Disney Song</title>
</head>

<body>
    <h1>OST등록</h1>
    <form action="/song" method="POST">
        <pre>
            OST제목 : <input type="text" name="OstTitle" style="width: 300px;"><br></br>
            영화제목 : <input type="text" name="MovieTitle" style="width: 300px;"><br></br>
            발매연도 : <input type="number" name="Year" style="width: 300px;"><br></br>
            주인공 : <input type="text" name="MainC" style="width: 300px;"><br></br>
            <p>
                <input type="submit" value="Add"> <input type="button" value="back" onclick="history.back(-1)">
            </p>
        </pre>
    </form>
</body>

</html>