<html>
<head>
   <meta charset="UTF-8" />
    <title><%= data.OstTitle %> 삭제 완료</title>
</head>
<body>
    <h1><%= data.OstTitle %> 삭제 완료</h1>
    </br>

    <input type="button" value="home" onclick="location.href='/song'">
</body>
</html>