<html>
    <head>
        <meta charset="utf-8" />
        <title>OST Disney Song 수정 완료</title>
    </head>
    <body>
        <h1><%= data.OstTitle %> 노래 수정 완료</h1>
            - Id : <%= data._id %> <br/><br/>
        <input type="button" value="home" onclick="location.href='/song'">
    </body>
</html>